<!DOCTYPE html>
<html lang="ko">
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include 'header.html' %}

  <main class="d-flex justify-content-center align-items-center align-content-center main">
    <div class="container-fluid d-flex justify-content-center align-items-center align-content-center d-flex align-items-center">
        <article>
            <div class="row">
                <div class="col me-4" id="login-method"><a class="text-decoration-none text-secondary" href="{{ url_for('login') }}">
                        <article>
                            <div class="row">
                                <div class="col text-center"><img id="login-method-account" src="{{ url_for('static', filename='images/account_hover.svg') }}" height="200px"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-center">회원</h1>
                                    <p class="text-center">포인트를 적립하세요!<br>업적을 채우세요!</p>
                                </div>
                            </div>
                        </article>
                    </a></div>
                <div class="col ms-4" id="login-method"><a class="text-decoration-none text-secondary" href="{{url_for('classification')}}">
                        <article>
                            <div class="row">
                                <div class="col text-center"><img id="login-method-noaccount" src="{{ url_for('static', filename='images/no_account_hover.svg') }}" height="200px"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-center">비회원</h1>
                                    <p class="text-center">회원가입 없이 이용하세요!<br>적립이 되지 않습니다!</p>
                                </div>
                            </div>
                        </article>
                    </a></div>
            </div>
        </article>
    </div>
    </main>

  {% include 'footer.html' %}
  <script>
    $(document).ready(function(){
      $('.navbar-nav > li:nth-child(1) > a').addClass('active');
    });
  </script>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=609a6a98f923748d29d9bec3" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>
</html>