<!DOCTYPE html>
<html lang="ko">
<head>
{% include 'head.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main class="d-flex justify-content-center align-items-center align-content-center main">
        <div class="container-fluid d-flex justify-content-center align-items-center align-content-center d-flex align-items-center" id="success">
            <article class="pb-2">
                <div class="row">
                    <div class="col text-center align-self-center"><img src="{{url_for('static',filename='images/coin-effect.gif')}}" style="width: 50%;">
                        <h1>포인트가 적립되었습니다. 업적도 확인해보세요.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="btn-group" role="group"><a class="btn btn-primary" role="button" href="{{url_for('classification')}}">다시하기</a><a class="btn btn-danger" role="button" href="{{url_for('index')}}">종료하기</a></div>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <script>
    $(document).ready(function(){
        $('.navbar-nav > li:nth-child(6) > a').addClass('active');
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>